# vscode
.vscode/

# lichess database in pgn format
*.pgn

# pychache
**/__pycache__/

# notebook checkpoints
**/.ipynb_checkpoints/

# stockfish binary
mldl/stockfish_*

rust_mbu/playtest/results.csv

# Build directory
cpp_bestia/build/*
